@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --body: #cfd5e0;
  --nav: #644bb1;
  --button: #644bb1;
  --main: #f4f4f4;
}

body {
  color: rgb(255, 255, 255);
  overflow: hidden;
}

.main {
  height: 100%;
  gap: 10px;
  background-color: var(--body);
  padding: 10px;
}

.menu {
  height: 100vh;
  width: 20%;
  padding: 20px;
  gap: 5px;
  display: flex;
  flex-direction: column;
  background-color: var(--nav);
  border-radius: 10px;
}

.logo {
  height: 50px;
  user-select: none;
}

.menu-cat {
  height: 520px;
  padding: 10px;
  flex-direction: column;
  justify-content: space-between;
}

.menu-cat li {
  border-bottom: 1px solid rgb(53, 53, 53);

  list-style: none;
  height: 40px;
  width: 100%;
  display: flex;
  padding: 0px;
  align-items: center;
  user-select: none;
}

.menu-cat li:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.menu-cat button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: var(--button);
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.nav {
  height: 100px;
  background-color: var(--nav);
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  padding: 0 30px;
  position: relative;
}

.contents-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main-contents {
  background-color: var(--nav);
  height: 100%;
  width: auto;
  border-radius: 10px;
  padding: 30px;
  animation: upward 0.5s ease-in;
  background-color: var(--main);
  color: black;
  overflow-y: scroll;
}

@keyframes upward {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }

  100% {
    transform: translateY(0%);
  }
}

.nav-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 120px;
}

.nav-icons:hover {
  cursor: pointer;
}

.nav-icons img {
  filter: invert();
  height: 20px;
}

.nav-icons span {
  background-color: red;
  width: 17px;
  height: 17px;
  font-size: 12px;
  display: inline-flex;
  justify-content: center;
  border-radius: 50%;
  transform: translate(-20%, -50%);
  font-weight: bolder;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile {
  border: 1px solid;
  border-radius: 50%;
  overflow: hidden;
  padding: 1px;
}

.profile-container {
  transform: translate(-25%, 60%);
  position: absolute;
  background-color: var(--body);
  border: none;
  border-radius: 10px;
  padding: 10px;
  top: 0;
  right: 0;
  height: 100px;
  color: black;
  z-index: 2;
}
/* .dashboard {
  height: 80%;
} */
.dash-container {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

.dash-content {
  background-color: var(--button);
  height: 200px;
  width: 195px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
  border-radius: 10px;
  color: rgb(255, 255, 255);
}

.dash-content img {
  filter: invert();
  height: 100px;
}

.report-container {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 5px;
}

.charts {
  height: 100% !important;
}

.manage-container {
  margin-top: 10px;
  display: grid;
  color: white;
  grid-template-columns: repeat(4, auto);
  row-gap: 10px;
  justify-content: space-around;
}
.manage-users {
  height: 100%;
}

.manage-container img {
  height: 100px;
  filter: invert();
}

.manage-container button {
  padding: 5px 20px;
  border: none;
  border-radius: 10px;
  font-weight: bolder;
  background-color: var(--nav);
  color: white;
}

.manage-link {
  color: white;
  text-decoration: none;
}
.manage-link:visited {
  color: white;
}
button:hover {
  cursor: pointer;
}

.manage-container .users {
  background-color: var(--button);
  border-radius: 10px;
  width: 175px;
  display: flex;
  justify-content: center;
  gap: 5px;
  padding: 10px;
  flex-direction: column;
  align-items: center;
}

.logout-btn {
  background-color: transparent;
  color: black;
  border: none;
  font-size: large;
}

.manage_form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2px;
}

.manage_form button {
  border: 1px solid white;
  width: 100px;
}
