.main-contents form {
  margin: 10px 0;
}

.main-contents {
  height: 62% !important;
}
form button {
  background-color: #644bb1;
  padding: 5px 25px;
  border-radius: 5px;
  color: white;
  border: none;
  margin: 10px 0;
}
